.advantages {
  margin-bottom: 42px;
  padding-top: 0;
  margin-top: -2px;
}

.advantages__title {
  @include margin-reset;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 28px;
}

.advantages__list {
  @include margin-reset;
  list-style: none;
}

.advantages__item {
  @include add-font;
  @include margin-reset;
  margin: 20px 0;
  line-height: 18px;
  text-transform: none;
  display: flex;
  align-items: center;
}

.advantages__item--usefulness {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
    margin-right: 20px;
    flex-shrink: 0;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px 50px;
    }
  }
}

.advantages__item--powder {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
    margin-right: 20px;
    flex-shrink: 0;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px 50px;
    }
  }
}

.advantages__item--eating {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
    margin-right: 20px;
    flex-shrink: 0;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px 50px;
    }
  }
}

.advantages__item--change {
  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
    margin-right: 20px;
    flex-shrink: 0;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px 50px;
    }
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    margin: 0;
  }

  .advantages__container {
    padding-bottom: 12px;
  }

  .advantages__title {
    @include margin-reset;
    font-size: 60px;
    margin-bottom: 29px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    max-width: 245px;
    margin-top: 32px;
    margin-bottom: 90px;
    padding-left: 0;
    padding-top: 123px;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;
    margin-right: 80px;
  }

  .advantages__item--usefulness {
    position: relative;

    &::before {
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "1";
      top: -28px;
      right: 58px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--powder {
    position: relative;

    &::before {
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "2";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--eating {
    position: relative;

    &::before {
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "3";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--change {
    position: relative;

    &::before {
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: "4";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 27px;
    padding-bottom: 0;
  }

  .advantages__container {
    margin: 0 auto;
  }

  .advantages__title {
    @include margin-reset;
    margin-bottom: 183px;
  }

  .advantages__item {
    @include margin-reset;
    margin-bottom: 55px;
  }

  .advantages__item--usefulness {
    &::before {
      top: -112px;
      left: 2px;
    }

    &::after {
      content: "1";
      top: -152px;
      right: 54px;
    }
  }

  .advantages__item--powder {
    &::before {
      content: "";
      top: -112px;
      left: 2px;
    }

    &::after {
      content: "2";
      top: -152px;
      right: 60px;
    }
  }

  .advantages__item--eating {
    &::before {
      content: "";
      top: -112px;
    }

    &::after {
      content: "3";
      top: -152px;
      right: 60px;
    }
  }

  .advantages__item--change {
    &::before {
      content: "";
      top: -112px;
    }

    &::after {
      content: "4";
      top: -152px;
      right: 60px;
    }
  }
}
