.advantages {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding-top: 0;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -2px;
}

.advantages__container {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.advantages__title {
  @include margin-reset;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 29px;
}

.advantages__list {
  @include margin-reset;
  width: 280px;
  list-style: none;
}

.advantages__item {
  @include add-font;
  @include margin-reset;
  padding-left: 80px;
  margin-bottom: 26px;
  line-height: 18px;
  text-transform: none;
}

.advantages__item--usefulness {
  position: relative;

  &::before {
    content: "";
    top: -2px;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-leaf@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
  }
}

.advantages__item--powder {
  position: relative;

  &::before {
    content: "";
    top: -2px;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-powder@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
  }
}

.advantages__item--eating {
  position: relative;

  &::before {
    content: "";
    top: -2px;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-dining@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
  }
}

.advantages__item--change {
  position: relative;

  &::before {
    content: "";
    top: -2px;
    left: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background-image: url("../img/advantage-clock@1x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $button-color;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    width: auto;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
  }

  .advantages__container {
    width: 708px;
    margin: 0 auto;
  }

  .advantages__title {
    @include margin-reset;
    font-size: 60px;
    margin-bottom: 29px;
  }

  .advantages__list {
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 247px;
    margin-top: 32px;
    margin-bottom: 90px;
    box-sizing: border-box;
    padding-left: 0;
    padding-top: 123px;
    padding-right: 0;
    font-size: 16px;
    line-height: 24px;
  }

  //.advantages__item:nth-child(2n+1) {
  //  margin-right: 60px;
  //}

  .advantages__item--usefulness {
    position: relative;

    &::before {
      content: "";
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
      background-image: url("../img/advantage-leaf@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $button-color;
    }

    &::after {
      content: "1";
      top: -28px;
      right: 58px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--powder {
    position: relative;

    &::before {
      content: "";
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
      background-image: url("../img/advantage-powder@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $button-color;
    }

    &::after {
      content: "2";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--eating {
    position: relative;

    &::before {
      content: "";
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
      background-image: url("../img/advantage-dining@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $button-color;
    }

    &::after {
      content: "3";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }

  .advantages__item--change {
    position: relative;

    &::before {
      content: "";
      top: 11px;
      left: 0;
      position: absolute;
      width: 80px;
      height: 80px;
      background-image: url("../img/advantage-clock@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $button-color;
    }

    &::after {
      content: "4";
      top: -28px;
      right: 64px;
      position: absolute;
      width: 71px;
      height: 228px;
      font-size: 281px;
      line-height: 281px;
      color: $addback-color;
      font-family: "Oswald", "Arial", sans-serif;
      z-index: -2;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 27px;
    padding-bottom: 144px;
  }

  .advantages__container {
    width: 1220px;
    margin: 0 auto;
  }

  .advantages__title {
    @include margin-reset;
    margin-bottom: 183px;
  }

  .advantages__list {
    width: 1220px;
  }

  //.advantages__item:nth-child(2n+1) {
  //  margin-right: 0;
  //}

  .advantages__item {
    @include margin-reset;
    width: 244px;
    margin-bottom: 117px;
  }

  .advantages__item--usefulness {
    &::before {
      content: "";
      top: -112px;
      left: 2px;
    }

    &::after {
      content: "1";
      top: -152px;
      right: 54px;
    }
  }

  .advantages__item--powder {
    &::before {
      content: "";
      top: -112px;
      left: 2px;
    }

    &::after {
      content: "2";
      top: -152px;
      right: 60px;
    }
  }

  .advantages__item--eating {
    &::before {
      content: "";
      top: -112px;
    }

    &::after {
      content: "3";
      top: -152px;
      right: 60px;
    }
  }

  .advantages__item--change {
    &::before {
      content: "";
      top: -112px;
    }

    &::after {
      content: "4";
      top: -152px;
      right: 60px;
    }
  }
}
