.catalog-gift {
  @include margin-reset;
  min-height: 289px;
  padding: 188px 59px 43px 59px;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 38px;
  //margin-bottom: 11px;
  position: relative;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 56px;
    height: 61px;
    background-image: url("/img/icon-gift.svg");
    background-position: center;
    background-repeat: no-repeat;
    top: 66px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.catalog-gift__text {
  @include margin-reset;
  @include add-font;
  font-size: 16px;
  text-align: center;
  color: $mainback-color;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .catalog-gift {
    background-color: $button-color;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 35px;
    background-image: url("/img/gift-photo-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 72px 123px 69px 424px;

    &::before {
      content: "";
      top: 66px;
      left: 17%;
    }
  }

  .catalog-gift__text {
    padding-top: 0;
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .catalog-gift {
    width: 245px;
    background: $button-color;
    min-height: 289px;
    background-image: url("/img/gift-photo-desktop@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 190px 42px 43px 42px;
    margin: 0;

    &::before {
      content: "";
      top: 66px;
      right: 91px;
    }
  }

  .catalog-gift__text {
    text-align: center;
  }
}
