.catalog-part {
  padding-top: 31px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog-part__container {
  width: 280px;
  box-sizing: border-box;
}

.catalog-part__title {
  @include margin-reset;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.catalog-part__item {
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.catalog-part__item-title {
  @include margin-reset;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $addtext-color;
}

.catalog-part__wrapper {
  @include margin-reset;
  @include add-font;
  margin-bottom: 14px;
  line-height: 14px;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .catalog-part {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .catalog-part__container {
    width: 708px;
    margin: 0 auto;
  }

  .catalog-part__item {
    padding: 28px 37px 28px 38px;
    border: 1px solid rgb(217, 217, 217);
  }
}

@media (min-width: $desktop-width) {
  .catalog-part__container {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-part__items {
    width: 895px;
  }
}
