.catalog-gift {
  @include margin-reset;
  width: 280px;
  min-height: 289px;
  padding: 39px 20px 35px 20px;
  background-image: url("/img/gift-photo-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-top: 39px;
}

.catalog-gift__text {
  @include margin-reset;
  @include add-font;
  padding-top: 190px;
  font-size: 16px;
  text-align: center;
  color: $mainback-color;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .catalog-gift {
    width: 708px;
    background: $button-color;
    min-height: 200px;
    margin-top: 69px;
    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-gift {
    width: 245px;
    background: $button-color;
    min-height: 289px;
  }
}
