.catalog-part {
  padding-top: 28px;
  max-width: 480px;
  margin-bottom: 111px;
}

.catalog-part__container {
  //width: 280px;
  //box-sizing: border-box;
}

.catalog-part__title {
  @include margin-reset;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.catalog-part__item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(217, 217, 217);
  box-sizing: border-box;

  &:first-of-type {
    border-top: 1px solid rgb(217, 217, 217);
  }
}

.catalog-part__item-title {
  @include margin-reset;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $addtext-color;
}

.catalog-part__wrapper {
  @include margin-reset;
  @include add-font;
  margin-bottom: 14px;
  line-height: 14px;
  text-transform: none;
}

.catalog-part__table {
  text-align: right;
  width: 100%;
  border-collapse: collapse;

  td {
    text-align: left;
  }

  td:last-child {
    width: 95px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .catalog-part {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 262px;
  }

  .catalog-part__container {
    //margin: 0 -30px;
  }

  .catalog-part__back {
    background-color: $mainback-color;
    padding-left: 36px;
    padding-right: 36px;
  }

  .catalog-part__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
    position: relative;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 80px;

    &::after {
      content: "";
      position: absolute;
      width: 768px;
      height: 3px;
      background: $button-color;
      top: 22px;
      left: 0;
      z-index: -1;
    }
  }

  .catalog-part__item {
    padding: 25px 37px 28px 38px;
    //border: 1px solid rgb(217, 217, 217);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-part__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .catalog-part__wrapper {
    font-size: 16px;
    line-height: 20px;
    width: 230px;
    margin-top: 5px;
  }

  .catalog-part__table {
    text-align: right;
    width: 100%;
    border-collapse: collapse;

    td {
      text-align: right;
    }

    td:last-child {
      width: 95px;
    }
  }

  .catalog-part__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-part {
    margin-bottom: 86px;
    width: 1220px;
  }

  .catalog-part__container {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-part__back {
    background-color: $mainback-color;
    padding-left: 40px;
    padding-right: 40px;
  }

  .catalog-part__title {
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
    position: relative;
    margin-left: -70px;
    margin-right: -40px;
    margin-bottom: 80px;

    &::after {
      content: "";
      position: absolute;
      width: 1220px;
      height: 3px;
      background: $button-color;
      top: 22px;
      left: 115px;
      z-index: -1;
    }
  }

  .catalog-part__items {
    width: 895px;
  }

  .catalog-part__item {
    border-left: none;
    border-right: none;
    width: 895px;
    padding: 15px 0 16px 0;
  }

  .catalog-part__item-title {
    margin-bottom: 0;
    width: 245px;
    align-items: center;
    padding-top: 10px;
  }

  .catalog-part__wrapper {
    font-size: 16px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
  }

  .catalog-part__table {
    width: 285px;

    td {
      text-align: left;
    }

    td:last-child {
      width: 55px;
      text-align: right;
    }
  }

  .catalog-part__button {
    width: 245px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}
