.catalog-item {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 320px;
  border-bottom: 1px solid rgb(217, 217, 217);
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-item:first-of-type {
  border-top: 1px solid rgb(217, 217, 217);
}

.catalog-item__wrapper {
  margin-bottom: 23px;
}

.catalog-item__image {
  width: 140px;
  height: 144px;
}

.catalog-item__title {
  @include margin-reset;
  font-size: 16px;
  font-weight: 400;
  text-decoration: $notunderline;
  color: $title-color;
}

.catalog-item__description {
  @include add-font;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
}

.catalog-item__button {
  margin-bottom: 25px;
}

.catalog-item--add {
  @include margin-reset;
  padding-top: 83px;
  padding-bottom: 25px;
  text-align: center;
}

.catalog-title--add {
  @include margin-reset;
  margin-bottom: 11px;
  text-align: center;
}

.catalog-item__description--add {
  @include margin-reset;
  margin-bottom: 11px;
  text-align: center;
}

.catalog-item__button-add {
  text-decoration: $notunderline;
  text-align: center;
  color: $text-color;
  background-color: $addback-color;
}

@media (min-width: $tablet-width) {
  .catalog-item {
    width: 324px;
    padding: 16px 37px 39px 40px;
    box-sizing: border-box;
    border: none;
    background: $addback-color;
    margin-bottom: 92px;
  }

  .catalog-item:first-of-type {
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
  }
}
