.catalog-main {
  padding-top: 14px;
  margin: 0 auto;
}

.catalog-main__container {
  max-width: 480px;
  margin: 0 auto;
}

.catalog-main__title-wrapper {
  margin-bottom: 29px;
  max-width: 480px;
}

.catalog-main__title {
  @include margin-reset;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    width: auto;
    margin: 0;
    padding-top: 59px;
  }

  .catalog-main__title-wrapper {
    max-width: 900px;
  }

  .catalog-main__title {
    padding: 0;
    font-size: 60px;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  .catalog-main__container {
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 4px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    padding-top: 76px;
  }

  .catalog-main__container {
    margin-bottom: 14px;
    max-width: 1300px;
    justify-content: center;
  }

  .catalog-main__title-wrapper {
    max-width: 1300px;
  }
}
