.catalog-item {
  //padding-top: 15px;
  padding-bottom: 24px;
  border: 1px solid rgb(217, 217, 217);
  border-top: none;
  padding-left: 20px;
  padding-right: 20px;
}

.catalog-item:first-of-type {
  border-top: 1px solid rgb(217, 217, 217);
}

.catalog-item__wrapper {
  //margin-bottom: -3px;
  display: flex;
  justify-content: space-around;
}

.catalog-item__picture-container {
  width: 140px;
  height: 144px;
  flex-shrink: 0;
}

.catalog-item__info-container {
  display: flex;
  flex-direction: column;
  width: 140px;
  padding-top: 21px;
}

.catalog-item__title {
  text-decoration: $notunderline;
  color: $title-color;
  display: inline-block;
  width: 74px;
  margin-bottom: 13px;

  h3 {
    @include margin-reset;
    font-size: 16px;
    font-weight: 400;
  }
}

.catalog-item__description {
  @include add-font;
  @include margin-reset;
  font-size: 12px;
  line-height: 16px;
  text-transform: none;
  display: flex;
  justify-content: space-between;
}

.catalog-item__button {
  display: block;
}

.catalog-item--add {
  @include margin-reset;
  padding-top: 79px;
  padding-bottom: 23px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.2;
  }
}

.catalog-title--add {
  @include margin-reset;
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}

.catalog-item__description--add {
  @include margin-reset;
  margin-bottom: 19px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.catalog-item__button-add {
  text-decoration: $notunderline;
  text-align: center;
  color: $text-color;
  background-color: $addback-color;
  padding: 12px 15px 11px 15px;
  display: block;
  margin-right: auto;
  margin-bottom: auto;

  &:hover {
    background-color: rgb(235, 235, 235);
  }

  &:active {
    opacity: 0.3;
    background-color: rgb(235, 235, 235);
  }
}

@media (min-width: $tablet-width) {
  .catalog-item {
    max-width: 324px;
    padding: 15px 37px 40px 38px;
    border: none;
    background: $addback-color;
    margin-top: 111px;
    margin-bottom: 30px;

    &:first-of-type {
      border-top: none;
    }
  }

  .catalog-item__wrapper {
    flex-direction: column;
    margin-bottom: 33px;
  }

  .catalog-item__picture-container {
    margin: 0 auto;
    margin-bottom: -10px;
  }

  .catalog-item__picture-container--small {
    width: 161px;
    height: 172px;
    top: 0;
    bottom: 0;
    margin-top: -50px;
  }

  .catalog-item__picture-container--big {
    width: 195px;
    height: 208px;
    top: 0;
    bottom: 0;
    margin-top: -88px;
  }

  .catalog-item__image {
    background: transparent;
    margin-bottom: 39px;
  }

  .catalog-item__title {
    display: block;
    width: 140px;
    margin-bottom: 22px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    h3 {
      @include margin-reset;
      font-size: 20px;
    }
  }

  .catalog-item__info-container {
    margin: 0 auto;
    width: 251px;
  }

  .catalog-item__description {
    font-size: 16px;
    border-bottom: 2px solid rgb(205, 205, 205);
    padding-top: 6px;
    padding-bottom: 7px;
  }

  .catalog-item__button {
    //width: 249px;
  }

  .catalog-item--add {
    @include margin-reset;
    padding-top: 162px;
    padding-bottom: 37px;
    padding-left: 38px;
    padding-right: 40px;
    background: $mainback-color;
    border: 1px solid rgb(205, 205, 205);
    margin-top: 111px;
    margin-bottom: 30px;

    &::before {
      content: "";
      top: 53px;
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg");
    }
  }

  .catalog-title--add {
    font-size: 20px;
  }

  .catalog-item__description--add {
    width: 167px;
    border: none;
    margin-bottom: 79px;
  }

  .catalog-item__button-add {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-item {
    width: 245px;
    padding: 15px 37px 40px 38px;
  }

  .catalog-item__picture-container {
    //width: 161px;
    //height: 172px;
    margin-bottom: 12px;
  }

  .catalog-item__button {
    width: 169px;
  }

  .catalog-item__title {
    width: 134px;
  }

  .catalog-item__info-container {
    margin: 0 auto;
    width: 169px;
  }

  .catalog-item--add {
    padding-top: 164px;
    padding-bottom: 37px;
    padding-left: 38px;
    padding-right: 40px;

    &::before {
      top: 53px;
      left: 92px;
    }
  }

  .catalog-item__button-add {
    width: 169px;
  }
}
