.catalog-main {
  padding-top: 31px;
  width: 320px;
  margin: 0 auto;
  //padding-left: 20px;
  //padding-right: 20px;
  box-sizing: border-box;
}

.catalog-main__title {
  @include margin-reset;
  margin-bottom: 29px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-transform: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
}

.catalog-main__container {
  width: 320px;
  box-sizing: border-box;
}

@media (min-width: $tablet-width) {
  .catalog-main {
    width: auto;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 57px;
  }

  .catalog-main__title {
    padding: 0;
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 55px;
    //padding-left: 30px;
    //padding-right: 30px;
    width: 708px;
  }

  .catalog-main__container {
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 73px;
  }

  .catalog-main__container {
    width: 1220px;
    margin-bottom: 46px;
  }

  .catalog-main__title {
    //padding-left: 40px;
    //padding-right: 40px;
    width: 1220px;
  }
}
