.catalog-part {
  padding-top: 24px;
  padding-bottom: 33px;
  max-width: 480px;
}

.catalog-part__back {
  background-color: $mainback-color;
  padding-right: 24px;
  max-width: 255px;
  display: inline-block;
  z-index: 1;
  position: relative;
  vertical-align: middle;
}

.catalog-part__title {
  @include margin-reset;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: calc(100% + 20px);
    height: 3px;
    background: $button-color;
    top: 18px;
    left: auto;
  }
}

.catalog-part__item {
  padding-top: 12px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgb(217, 217, 217);

  &:first-of-type {
    border-top: 1px solid rgb(217, 217, 217);
  }
}

.catalog-part__item-title {
  @include margin-reset;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: $addtext-color;
}

.catalog-part__wrapper {
  @include margin-reset;
  @include add-font;
  margin-bottom: 14px;
  line-height: 14px;
  text-transform: none;
}

.catalog-part__table {
  text-align: right;
  width: 100%;
  border-collapse: collapse;

  td {
    text-align: left;
  }

  td:last-child {
    width: 95px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .catalog-part {
    max-width: none;
    padding-top: 28px;
  }

  .catalog-part__back {
    padding-left: 36px;
    padding-right: 36px;
    max-width: 415px;
  }

  .catalog-part__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;

    &::after {
      width: 100vw;
      height: 3px;
      right: 0;
      top: 28px;
      left: -30px;
    }
  }

  .catalog-part__item {
    padding: 25px 37px 28px 38px;
    border-left: 1px solid rgb(217, 217, 217);
    border-right: 1px solid rgb(217, 217, 217);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog-part__item-title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .catalog-part__wrapper {
    font-size: 16px;
    line-height: 20px;
    width: 230px;
    margin-top: 5px;
  }

  .catalog-part__table {
    text-align: right;
    width: 100%;
    border-collapse: collapse;

    td {
      text-align: right;
    }

    td:last-child {
      width: 95px;
    }
  }

  .catalog-part__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .catalog-part {
    margin-bottom: 54px;
    padding-top: 22px;
    max-width: 1300px;
  }

  .catalog-part__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .catalog-part__back {
    background-color: $mainback-color;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 419px;
    margin-left: -40px;
  }

  .catalog-part__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 77px;

    &::after {
      width: 108vw;
      top: 29px;
      left: -127px;
    }
  }

  .catalog-part__items {
    margin-right: 80px;
  }

  .catalog-part__item {
    border-left: none;
    border-right: none;
    width: 895px;
    padding: 15px 0 16px 0;
  }

  .catalog-part__item-title {
    margin-bottom: 0;
    width: 245px;
    align-items: center;
    padding-top: 10px;
  }

  .catalog-part__wrapper {
    font-size: 16px;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 14px;
    width: 245px;
  }

  .catalog-part__table {
    width: 290px;

    td {
      text-align: left;
    }

    td:last-child {
      width: 45px;
      text-align: left;
    }
  }

  .catalog-part__button {
    width: 245px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
}
