.client-story {
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  background-color: $addback-color;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 77px;
}

.client-story__container {
  width: 280px;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: -20px;
  margin-left: -20px;
}

.client-story__title {
  @include margin-reset;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  font-weight: 400;
}

.client-story__text {
  @include margin-reset;
  @include add-font;
  margin-bottom: 27px;
  line-height: 18px;
  text-transform: none;
  padding-right: 5px;
}

.client-story__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  padding: 13px 20px;
  border: 1px solid rgb(205, 205, 205);
  box-sizing: border-box;
}

.client-story__description {
  @include add-font;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  width: 57px;
  position: relative;
  background-color: $addback-color;
  padding: 0 13px;
  margin-top: -8px;
  margin-left: 20px;
}

.client-story__cost {
  @include margin-reset;
  margin-bottom: 35px;
  font-size: 14px;
  text-align: center;
}

.client-story__item {
  width: 124px;
  display: flex;
  flex-direction: column;
}

.client-story__wrapper {
  display: flex;
  justify-content: space-between;
}

.client-story__switcher-wrapper {
  @include margin-reset;
  width: 320px;
  border: none;
  margin-left: -20px;
  margin-right: -20px;
  padding-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .client-story {
    width: auto;
    margin: 0;
    background: $mainback-color;
    margin-bottom: 185px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .client-story__container {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-top: 56px;
    //padding-left: 30px;
    //padding-right: 30px;
    padding-bottom: 400px;
  }

  .client-story__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .client-story__text {
    width: 676px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
  }

  .client-story__wrapper {
    width: 365px;
  }

  .client-story__item {
    width: 162px;
  }

  .client-story__value {
    font-size: 30px;
    line-height: 37px;
    padding: 17px 20px;
  }

  .client-story__description {
    @include add-font;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 14px;
    padding: 0 8px;
    margin-top: -10px;
    margin-left: 0;
    background-color: $mainback-color;
  }

  .client-story__description--slim {
    width: 123px;
    box-sizing: border-box;
    margin-left: 23px;
  }

  .client-story__description--time {
    width: 153px;
    box-sizing: border-box;
    margin-left: auto;
  }

  .client-story__switcher-wrapper {
    background: none;
    width: 100%;
    margin-left: -30px;
    margin-right: -30px;
  }

  .client-story__cost {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding-top: 11px;
  }

  .client-story__cost span {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .client-story__title {
    margin-top: -220px;
    margin-bottom: 146px;
  }

  .client-story {
    padding-top: 87px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    background-image: linear-gradient(to right, transparent 70%, #eaeaea 30%);
  }

  .client-story__container {
    width: 1220px;
    display: inline-block;
    padding: 0;
  }

  .client-story__text {
    width: 431px;
    margin-bottom: 66px;
  }

  .client-story__cost {
    display: flex;
    width: 325px;
    justify-content: space-between;
  }

  .client-story__description {
    background-color: $addback-color;
  }
}
