.client-story {
  background-color: $addback-color;
}

.client-story__section-container {
  padding-top: 18px;
  padding-bottom: 34px;
}

.client-story__title {
  @include margin-reset;
  margin-bottom: 23px;
  font-size: 36px;
  line-height: 60px;
  text-transform: none;
  font-weight: 400;
}

.client-story__text {
  @include margin-reset;
  @include add-font;
  margin-bottom: 24px;
  line-height: 18px;
  text-transform: none;
  padding-right: 5px;
}

.client-story__value {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  font-weight: 400;
  padding: 15px 20px;
  border: 1px solid rgb(205, 205, 205);
}

.client-story__label {
  @include add-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
}

.client-story__description {
  width: 85px;
  background-color: $addback-color;
  padding: 0 13px;
  margin-top: -8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  display: flex;
  justify-content: center;
}

.client-story__cost {
  @include margin-reset;
  margin-bottom: 35px;
  font-size: 14px;
  text-align: center;
}

.client-story__item {
  width: 124px;
  display: flex;
  flex-direction: column;
}

.client-story__item:first-child {
  margin-right: 32px;
}

.client-story__wrapper {
  display: flex;
  justify-content: space-around;
}

.client-story__switcher-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .client-story {
    background-color: #f2f2f2;
    background-image: linear-gradient(to top, transparent 462px, #ffffff 462px);
  }

  .client-story__section-container {
    padding-top: 46px;
    padding-bottom: 69px;
  }

  .client-story__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 62px;
  }

  .client-story__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 64px;
  }

  .client-story__text {
    width: 676px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;
    padding-right: 0;
  }

  .client-story__wrapper {
    width: 365px;
  }

  .client-story__item {
    width: 162px;
  }

  .client-story__item:first-child {
    margin-right: 40px;
  }

  .client-story__value {
    font-size: 30px;
    line-height: 37px;
    padding: 16px 20px;
  }

  .client-story__label {
    font-size: 14px;
    line-height: 14px;
  }

  .client-story__description {
    margin-bottom: 20px;
    padding: 0 8px;
    margin-top: -10px;
    background-color: $mainback-color;
  }

  .client-story__description--slim {
    width: 123px;
  }

  .client-story__description--time {
    width: 143px;
  }

  .client-story__switcher-wrapper {
    background: none;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      width: 50vw;
      height: 465px;
      left: 50%;
      background-color: #eaeaea;
      background-position: right center;
      z-index: -1;
      bottom: -69px;
    }
  }

  .client-story__cost {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    padding-top: 11px;
  }

  .client-story__cost span {
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .client-story__section-container {
    padding-top: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  .client-story__container {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0;
    margin-right: 132px;
  }

  .client-story__title {
    margin-bottom: 146px;
    padding-top: 54px;
  }

  .client-story__text {
    width: 431px;
    margin-bottom: 68px;
  }

  .client-story__cost {
    display: flex;
    width: 329px;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 13px;
  }

  .client-story__description {
    background-color: $addback-color;
    margin-bottom: 44px;
  }

  .client-story__switcher-wrapper {
    margin: 0;

    &::after {
      left: 54%;
      bottom: -40px;
    }
  }
}
