.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 25px 26px 19px;
  background-color: $addback-color;
  z-index: 3;
  position: relative;
}

.contacts__wrapper--index {
  background-color: $mainback-color;
}

.contacts__invite {
  @include margin-reset;
  width: 123px;
}

.contacts__address {
  @include add-font;
  @include margin-reset;
  text-transform: none;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__map-wrapper {
  position: relative;
  margin-top: -36px;
  width: 100%;
  height: 400px;
  background-color: #f7f7f7;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 53px;
    background-image: url("/img/map-pin-small.png");
    background-position: center center;
    background-repeat: no-repeat;
    top: 176px;
    right: 40%;
    z-index: 1;
    transform: translateX(-40%);
  }
}

.contacts__map {
  width: 320px;
  height: 400px;
  background-color: $addback-color;
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.contacts__active-map {
  width: 100%;
  height: 400px;
  position: relative;
  z-index: 2;

  border: none;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: auto;
  }

  .contacts__wrapper {
    padding: 62px 72px 59px 71px;
  }

  .contacts__invite {
    width: 123px;
    font-size: 20px;
    line-height: 25px;
    padding-top: 4px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    text-align: right;
  }

  .contacts__map-wrapper {
    margin-top: -4px;

    &::before {
      content: "";
      width: 113px;
      height: 106px;
      background-image: url("/img/map-pin.png");
      top: 149px;
      right: 36%;
    }
  }

  .contacts__map {
    width: 767px;
    height: 400px;
    background-color: $addback-color;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    width: 570px;
    right: 690px;
    top: 95px;
    background-color: $mainback-color;
    padding: 62px 90px 59px 76px;
    position: absolute;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map-wrapper {
    margin-top: 0;

    &::before {
      content: "";
      top: 150px;
      right: 18%;
    }
  }

  .contacts__active-map {
    width: 100%;
    height: 400px;
  }

  .contacts__map {
    width: 1330px;
    height: 400px;
  }
}
