.contacts {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.contacts--form {
  margin-right: -20px;
  margin-left: -20px;
}

.contacts-inner {
  background-color: $addback-color;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 31px 25px 26px 19px;
}

.contacts__invite {
  @include margin-reset;
  width: 123px;
}

.contacts__address {
  @include add-font;
  @include margin-reset;
  text-transform: none;
  width: 135px;
}

.contacts__map {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: auto;
    margin: 0;
  }

  .contacts__wrapper {
    width: 631px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    width: 570px;
    margin-bottom: -205px;
    right: 200px;
    background-color: $addback-color;
    position: relative;
    z-index: 2;
  }
}
