.contacts {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
  //z-index: 2;
}

.contacts--form {
  margin-right: -20px;
  margin-left: -20px;
}

.contacts__container {
  position: relative;
}

.contacts-inner {
  background-color: $addback-color;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 27px 25px 26px 19px;
  position: absolute;
  top: -76px;
  width: 320px;
  z-index: 2;
  background-color: $addback-color;
  box-sizing: border-box;
}

.contacts__wrapper--index {
  background-color: $mainback-color;
}

.contacts__invite {
  @include margin-reset;
  width: 123px;
}

.contacts__address {
  @include add-font;
  @include margin-reset;
  text-transform: none;
  width: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__map-wrapper {
  position: relative;
  //margin-top: -20px;
  //z-index: -2;
  width: 320px;
  height: 400px;

  &::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 53px;
    background-image: url("/img/map-pin-small.png");
    background-position: center;
    background-repeat: no-repeat;
    top: 176px;
    right: 40%;
  }
}

.contacts__map {
  width: 100%;
  background-color: $addback-color;
  font-size: 0;
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: auto;
    margin: 0 -30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contacts__container {
    width: 768px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 62px 72px 59px 71px;
    top: -200px;
  }

  .contacts__invite {
    width: 123px;
    font-size: 20px;
    line-height: 25px;
    padding-top: 3px;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 20px;
    width: 155px;
    text-align: right;
  }

  .contacts__map-wrapper {
    width: 767px;

    &::before {
      content: "";
      width: 113px;
      height: 106px;
      background-image: url("/img/map-pin.png");
      top: 161px;
      right: 43%;
    }
  }

  .contacts__map {
    width: 100%;
    background-color: $addback-color;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    width: 1300px;
  }

  .contacts__wrapper {
    width: 570px;
    right: 680px;
    top: 95px;
    background-color: $mainback-color;
    padding: 62px 90px 59px 76px;
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map-wrapper {
    width: 1440px;

    &::before {
      content: "";
      top: -27px;
      right: 19%;
    }
  }
}
