.form-main {
  padding: 15px 20px 0 20px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.form-main__title {
  @include margin-reset;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.form-main__legend {
  @include margin-reset;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
}

@media (min-width: $tablet-width) {
  .form-main {
    padding: 57px 30px 34px 30px;
    width: auto;
    margin: 0;
  }

  .form-main__container {
    width: 708px;
    margin: 0 auto;
  }

  .form-main__title {
    font-size: 60px;
    margin-bottom: 55px;
  }

  .form-main__legend {
    font-size: 20px;
    line-height: 30px;
    width: 323px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding: 72px 40px 34px 40px;
  }

  .form-main__container {
    width: 1220px;
  }

  .form-main__legend {
    padding-left: 0;
  }
}
