.form-main {
  padding-top: 15px;
  //width: 320px;
}

.form-main__title-wrapper {
  margin-bottom: 25px;
}

.form-main__title {
  @include margin-reset;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.form-main__legend {
  @include margin-reset;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  max-width: 226px;
}

@media (min-width: $tablet-width) {
  .form-main {
    padding-top: 60px;
    padding-bottom: 34px;
    width: auto;
  }

  .form-main__title {
    font-size: 60px;
    margin-bottom: 55px;
  }

  .form-main__legend {
    font-size: 20px;
    line-height: 30px;
    max-width: 365px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding-top: 75px;
    padding-bottom: 34px;
  }

  .form-main__legend {
    padding-left: 0;
  }
}
