.form {
  padding-bottom: 34px;
}

.form__block {
  @include margin-reset;
  border: none;
}

.form__block--cat {
  padding-bottom: 23px;
}

.form__label {
  color: rgb(34, 34, 34);
  line-height: 18px;
}

.form__line {
  border: solid 1px rgb(205, 205, 205);
  min-height: 45px;
  margin-bottom: 14px;
}

.form__placeholder {
  color: $text-color;
  line-height: 18px;
  text-transform: $uppercase;
}

.form__line--catname {
  width: 229px;
}

.form__line--weight {
  width: 204px;
}

.form__line--age {
  width: 172px;
}

.form__block--radio {
  width: auto;
  margin: 0 -19px;
  border: solid 1px rgb(237, 237, 237);
}

.form__list {
  @include margin-reset;
  list-style: none;
}

.form__list--radio {
  padding-top: 21px;
  padding-left: 66px;
  box-sizing: border-box;
}

.form__item--radio {
  margin-bottom: 26px;
}

.form__block-legend {
  @include margin-reset;
  padding-top: 31px;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.form__line--email {
  width: 219px;
}

.form__line--phone {
  width: 204px;
}

.form__textarea {
  border: solid 1px rgb(205, 205, 205);
  width: 280px;
  height: 150px;
  box-sizing: border-box;
}

.form__item--checkbox {
  margin-bottom: 28px;
}

.form__checkbox-name {
  padding-left: 66px;
}

.form__name-legend {
  @include add-font;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}

.form__button {
  width: 280px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form__list--plus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__item--checkbox {
    width: 324px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper {
    width: 570px;
    display: flex;
    justify-content: space-between;
  }
}
