.form {
  padding-bottom: 17px;
}

.form__block {
  @include margin-reset;
  border: none;
}

.form__block--cat {
  padding-bottom: 12px;
}

.form__group {
  display: flex;
  margin-bottom: 14px;
  align-items: center;
}

.form__label {
  color: rgb(34, 34, 34);
  line-height: 18px;
  margin-right: 11px;
  flex-shrink: 0;
}

.form__line {
  border: solid 1px rgb(230, 230, 230);
  min-height: 41px;
  padding: 12px 13px;
  width: 100%;

  &:hover {
    border: solid 1px rgb(205, 205, 205);
  }

  &:focus {
    border: solid 1px $text-color;
  }

  &:invalid {
    border: solid 1px rgb(255, 130, 130);
  }
}

.form__placeholder {
  color: $text-color;
  line-height: 18px;
  text-transform: $uppercase;
}

.form__line--catname {
  //width: 229px;
}

.form__line--weight {
  //width: 207px;
}

.form__line--age {
  //width: 172px;
}

.form__block--radio {
  //width: 320px;
  margin: 0 -20px;
  border: solid 1px rgb(237, 237, 237);
}

.form__list {
  @include margin-reset;
  list-style: none;
}

.form__list--radio {
  padding-top: 22px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.form__item--radio {
  margin-bottom: 13px;
}

.form__radio + label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 9px solid $mainback-color;
  box-shadow: 0 0 0 2px rgba(205, 205, 205, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 12px 12px;
  background-color: $mainback-color;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 16px;
  box-sizing: content-box;
}

.form__radio:checked + label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 9px solid $mainback-color;
  box-shadow: 0 0 0 2px rgba(205, 205, 205, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
  background-color: $button-color;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form__radio-name {
  padding-left: 18px;
  display: inline-block;
  vertical-align: middle;
}

.form__radio:hover + label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 9px solid $mainback-color;
  box-shadow: 0 0 0 2px rgba(186, 186, 186, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 12px 12px;
  background-color: $mainback-color;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form__radio:checked:hover + label::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 9px solid $mainback-color;
  box-shadow: 0 0 0 2px rgba(186, 186, 186, 1);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 12px 12px;
  background-color: $button-color;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form__radio:active + label::before,
.form__radio:checked:active + label::before {
  opacity: 0.3;
}

.form__block-legend {
  @include margin-reset;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.form__back {
  max-width: 205px;
  padding-right: 22px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: $mainback-color;
  z-index: 1;
}

.form__block-legend--contacts {
  padding-top: 28px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    width: calc(100% + 20px);
    height: 3px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: $button-color;
    position: absolute;
    top: 42px;
    left: auto;
  }
}

//.form__line--email {
//  //width: 217px;
//
//}
//
//.form__line--phone {
//  //width: 200px;
//
//}

.form__column {
  position: relative;
  //display: flex;
  //flex-grow: 1;
  width: 100%;
}

.form__icon--mail {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.form__icon--phone {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.form__line:focus + .form__icon path {
  fill: $button-color;
}

.form__line:invalid + .form__icon path {
  fill: rgb(255, 130, 130);
}

.form__textarea {
  border: solid 1px rgb(205, 205, 205);
  width: 100%;
  height: 150px;
  padding: 13px;

  &:hover {
    border: solid 1px rgb(205, 205, 205);
  }

  &:focus {
    border: solid 1px $text-color;
  }
}

.form__block-legend--comments {
  padding-top: 16px;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    width: calc(100% + 20px);
    height: 3px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: $button-color;
    position: absolute;
    top: 30px;
    left: auto;
  }
}

.form__block-legend--add {
  padding-top: 27px;
  position: relative;
  margin-bottom: 38px;
  width: 100%;

  &::after {
    content: "";
    width: calc(100% + 20px);
    height: 3px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: $button-color;
    position: absolute;
    top: 40px;
    left: auto;
  }
}

.form__item--checkbox {
  margin-bottom: 22px;
}

.form__checkbox-name {
  padding-left: 46px;
  position: relative;
}

.form__check {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid rgb(205, 205, 205);
  left: 0;
  top: -2px;
  box-sizing: border-box;
}

.form__checkbox:checked + .form__check {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("/img/icon-tick.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  border: 1px solid rgb(205, 205, 205);
  left: 0;
  top: -2px;
  box-sizing: border-box;
}

.form__checkbox:hover + .form__check,
.form__checkbox:focus + .form__check {
  border: 1px solid rgb(186, 186, 186);
}

.form__checkbox:active + .form__check {
  border: 1px solid rgba(186, 186, 186, 0.3);
}

.form__checkbox:checked:hover + .form__check,
.form__checkbox:checked:focus + .form__check {
  border: 1px solid rgb(186, 186, 186);
}

.form__checkbox:checked:active + .form__check {
  border: 1px solid rgba(186, 186, 186, 0.3);
  opacity: 0.3;
}

.form__name-legend {
  @include margin-reset;
  @include add-font;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  margin-bottom: 91px;
  text-align: center;
}

.form__block--checkbox {
  padding-bottom: 18px;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
}

.form__button {
  display: block;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .form {
    padding-top: 27px;
    padding-left: 40px;
    padding-right: 37px;
  }

  .form__list--plus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__group {
    margin-bottom: 20px;
  }

  .form__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 19px;
  }

  .form__placeholder {
    font-size: 20px;
    line-height: 20px;
  }

  .form__line {
    min-height: 52px;
    padding: 10px 19px;
    box-sizing: border-box;
  }

  .form__line--catname {
    //width: 567px;
  }

  .form__line--weight {
    //width: 540px;
  }

  .form__line--age {
    //width: 497px;
  }

  .form__block--cat {
    padding-bottom: 55px;
  }

  .form__block--radio {
    //padding-left: 40px;
    //width: 630px;
    margin: 0 auto;
  }

  .form__list--radio {
    padding-top: 23px;
    padding-left: 10px;
    padding-bottom: 11px;
  }

  .form__radio + label::before {
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    border: 11px solid $mainback-color;
    margin-right: 19px;
  }

  .form__radio:checked + label::before {
    width: 18px;
    height: 18px;
    border: 11px solid $mainback-color;
    background-size: 18px 18px;
    margin-right: 19px;
  }

  .form__radio:hover + label::before,
  .form__radio:focus + label::before {
    width: 18px;
    height: 18px;
    border: 11px solid $mainback-color;
    background-size: 18px 18px;
  }

  .form__radio:checked:hover + label::before {
    width: 18px;
    height: 18px;
    border: 11px solid $mainback-color;
    background-size: 18px 18px;
  }

  .form__back {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 592px;
  }

  .form__block-legend {
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 36px;
    text-align: left;
  }

  .form__block-legend--contacts {
    padding-top: 69px;
    margin-left: -40px;
    margin-bottom: 76px;

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: $button-color;
      position: absolute;
      top: 96px;
      left: -30px;
    }
  }

  .form__block--contacts {
    //position: relative;
  }

  .form__line--email {
    //width: 552px;
  }

  .form__icon--mail {
    position: absolute;
    right: 18px;
  }

  .form__line--phone {
    //width: 532px;
  }

  .form__icon--phone {
    position: absolute;
    right: 15px;
  }

  .form__block-legend--comments {
    padding-top: 39px;
    margin-left: -40px;
    margin-bottom: 77px;

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: $button-color;
      position: absolute;
      top: 67px;
      left: -30px;
    }
  }

  .form__textarea {
    //width: 631px;
    height: 174px;
    padding: 13px 18px;
  }

  .form__block-legend--add {
    padding-top: 56px;
    margin-left: -40px;
    margin-bottom: 66px;

    &::after {
      content: "";
      width: 100vw;
      height: 3px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-color: $button-color;
      position: absolute;
      top: 83px;
      left: -30px;
    }
  }

  .form__item--checkbox {
    width: 287px;
    margin-bottom: 50px;
  }

  .form__checkbox-name {
    padding-left: 58px;
  }

  .form__check {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid rgb(205, 205, 205);
    left: 0;
    top: -2px;
    box-sizing: border-box;
  }

  .form__checkbox:checked + .form__check {
    content: "";
    width: 40px;
    height: 40px;
    background-image: url("/img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    border: 1px solid rgb(205, 205, 205);
    left: 0;
    top: -2px;
    box-sizing: border-box;
  }

  .form__block--checkbox {
    padding-bottom: 13px;
  }

  .form__button-wrapper {
    display: flex;
    margin-bottom: 241px;
    align-items: center;
    flex-direction: row;
  }

  .form__button {
    width: 283px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 15px;
    margin-right: 63px;
    border: none;
  }

  .form__name-legend {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding-top: 26px;
    padding-left: 0;
    padding-right: 0;
  }

  .form__wrapper {
    //width: 1220px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .form__group:last-child {
    margin-bottom: 0;
  }

  .form__line--catname {
    //width: 506px;
  }

  .form__line--weight {
    //width: 479px;
  }

  .form__line--age {
    //width: 436px;
  }

  .form__block--radio {
    width: 47%;
    margin: 0;
  }

  .form__radio + label::before,
  .form__radio:checked + label::before {
    margin-right: 21px;
  }

  .form__list--radio {
    padding-top: 27px;
  }

  .form__block--cat {
    width: 47%;
    padding-bottom: 0;
  }

  .form__line:last-child {
    margin-bottom: 0;
  }

  .form__item--radio:last-child {
    margin-bottom: 0;
  }

  .form__block-legend--contacts {
    padding-top: 65px;
    margin-bottom: 75px;

    &::after {
      content: "";
      width: 108vw;
      top: 92px;
      left: -100px;
    }
  }

  .form__row {
    display: flex;
  }

  .form__column {
    //width: none;
  }

  .form-column--email {
    //width: 43%;
  }

  .form__group--email {
    margin-right: 78px;
    margin-bottom: 0;
  }

  .form__group--email,
  .form__group--phone {
    width: 47%;
  }

  .form__icon--mail {
    position: absolute;
    left: 453px;
  }

  .form-column--phone {
    //width: 38%;
  }

  .form__icon--phone {
    position: absolute;
    right: 18px;
  }

  .form__block-legend--comments {
    padding-top: 62px;

    &::after {
      width: 108vw;
      left: -100px;
      top: 90px;
    }
  }

  .form__textarea {
    //width: 1220px;
    padding: 13px 18px;
  }

  .form__block-legend--add {
    &::after {
      content: "";
      width: 108vw;
      top: 85px;
      left: -100px;
    }
  }

  .form__item--checkbox {
    width: 245px;
  }

  .form__block--checkbox {
    padding-bottom: 21px;
  }

  .form__button {
    width: 568px;
    margin-right: 84px;
  }

  .form__name-legend {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-bottom: 0;
  }
}
