.form-main {
  padding: 30px 20px 34px 20px;
  width: 320px;
  box-sizing: border-box;
  margin: 0 auto;
}

.form-main__title {
  @include margin-reset;
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-transform: none;
}

.form-main__legend {
  @include margin-reset;
  margin-bottom: 39px;
  font-size: 14px;
  line-height: 18px;
  width: 226px;
}

@media (min-width: $tablet-width) {
  .form-main {
    padding: 30px 30px 34px 30px;
    width: auto;
    margin: 0;
  }

  .form-main__container {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .form-main {
    padding: 30px 40px 34px 40px;
  }

  .form-main__container {
    width: 1220px;
  }
}
