.intro {
  padding-top: 27px;
  //background-image: url("../img/index-background-mobile@1x.jpg");
  //background-position: top;
  //background-repeat: no-repeat;
  padding-right: 20px;
  padding-left: 20px;
  width: 320px;
  margin: 0 auto;
}

.intro__container {
  width: 280px;
}

.intro__wrapper {
  //position: relative;
}

.intro__description {
  @include margin-reset;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: $mainback-color;
  text-transform: none;
}

.intro__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $mainback-color;
}

.intro__image {
  width: 280px;
  height: 270px;
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
  background-color: transparent;
}

.intro__button {
  width: 280px;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  color: $mainback-color;
  text-decoration: $notunderline;
  margin: 0 auto;
  //padding-top: 14px;
  //padding-right: 74px;
  //padding-bottom: 11px;
  //padding-left: 73px;
  text-align: center;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(94, 170, 47);
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: none;
    width: auto;
    margin: 0;
    padding-top: 57px;
    padding-left: 88px;
  }

  .intro__container {
    width: 709px;
    margin: 0;
  }

  .intro__wrapper {
    width: 414px;
    position: relative;
  }

  .intro__description {
    color: $title-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .intro__slogan {
    color: $title-color;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    width: 245px;
    position: absolute;
    left: 119px;
    top: 369px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    //padding-right: 29px;
    padding-bottom: 15px;
    //padding-left: 26px;
  }

  .intro__image {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 106px;
    padding-left: 83px;
  }

  .intro__container {
    display: flex;
    width: 922px;
  }

  .intro__wrapper {
    width: 415px;
    padding-left: 0;
    text-align: left;
    //margin-bottom: ;
    z-index: 2;
  }

  .intro__image {
    display: inline;
    margin: 0;
    width: 552px;
    height: 499px;
    position: absolute;
    left: 507px;
    top: 140px;
  }

  .intro__description {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .intro__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    top: 455px;
    left: 122px;
  }
}
