.intro {
  padding-top: 27px;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 305px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;

    @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: cover;
    }
  }
}

.intro__description {
  @include margin-reset;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: $mainback-color;
  text-transform: none;
  max-width: 250px;
}

.intro__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $mainback-color;
}

.intro__image-wrapper {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 2px;
  background-color: transparent;
}

.intro__image {
  font-size: 0;
  display: block;
}

.intro__button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: $mainback-color;
  text-decoration: $notunderline;
  margin: 0 auto;
  padding-top: 11px;
  padding-bottom: 11px;
  text-align: center;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(94, 170, 47);
  }

  &:-moz-focusring {
    outline: 2px dotted midnightblue;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: none;
    width: auto;
    margin: 0;
    padding-top: 60px;

    &::after {
      display: none;
    }
  }

  .intro__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .intro__wrapper {
    padding-left: 87px;
  }

  .intro__description {
    color: $title-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 41px;
    max-width: 415px;
  }

  .intro__slogan {
    color: $title-color;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 48px;
  }

  .intro__button {
    width: 245px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    margin-left: 89px;
    position: relative;
    z-index: 1;
  }

  .intro__image-wrapper {
    display: block;
    margin: 0 auto;
    width: 709px;
    order: 1;
    margin-top: -78px;
  }

  .intro__image {
    display: block;
    font-size: 0;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 109px;
    margin-bottom: 268px;
  }

  .intro__container {
    display: flex;
    padding-left: 121px;
  }

  .intro__wrapper {
    width: 415px;
    padding-left: 0;
    text-align: left;
    z-index: 2;
  }

  .intro__image-wrapper {
    display: inline;
    margin: 0;
    width: 552px;
    height: auto;
    position: absolute;
    left: 491px;
    top: -81px;
  }

  .intro__description {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .intro__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 54px;
  }

  .intro__button {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    margin-left: 0;
  }
}
