.intro {
  padding-top: 27px;
  //background-image: url("../img/index-background-mobile@1x.jpg");
  //background-position: top;
  //background-repeat: no-repeat;
  position: relative;

  &::after {
    content: "";
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 305px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
  }
}

.intro__container {
  //width: 280px;
  //margin-left: auto;
  //margin-right: auto;
}

.intro__wrapper {
  //position: relative;
}

.intro__description {
  @include margin-reset;
  margin: 0 auto;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: $mainback-color;
  text-transform: none;
  max-width: 250px;
}

.intro__slogan {
  margin-bottom: 29px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: $mainback-color;
}

.intro__image-wrapper {
  width: 280px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 4px;
  background-color: transparent;
}

.intro__button {
  //width: 280px;
  display: block;
  //vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  color: $mainback-color;
  text-decoration: $notunderline;
  margin: 0 auto;
  //padding-top: 14px;
  //padding-right: 74px;
  //padding-bottom: 11px;
  //padding-left: 73px;
  text-align: center;

  &:hover {
    background-color: rgb(94, 170, 47);
  }

  &:focus,
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgb(94, 170, 47);
  }
}

@media (min-width: $tablet-width) {
  .intro {
    background-image: none;
    width: auto;
    margin: 0;
    padding-top: 57px;
    //padding-left: 88px;
    //width: 709px;

    &::after {
      display: none;
    }
  }

  .intro__container {
    //width: 709px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .intro__wrapper {
    //width: 414px;
    padding-left: 89px;
  }

  .intro__description {
    color: $title-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 41px;
    max-width: 415px;
  }

  .intro__slogan {
    color: $title-color;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    width: 245px;
    left: 70px;
    top: 230px;
    font-size: 20px;
    line-height: 20px;
    padding-top: 17px;
    //padding-right: 29px;
    padding-bottom: 15px;
    //margin-left: 90px;
  }

  .intro__image-wrapper {
    display: block;
    margin: 0 auto;
    width: 709px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    padding-top: 106px;
    padding-left: 83px;
    margin: 0;
    margin-bottom: 321px;
  }

  .intro__container {
    display: flex;
    width: 922px;
    margin: 0;
  }

  .intro__wrapper {
    width: 415px;
    padding-left: 0;
    text-align: left;
    //margin-bottom: ;
    z-index: 2;
  }

  .intro__image-wrapper {
    display: inline;
    margin: 0;
    width: 552px;
    height: auto;
    position: absolute;
    left: 507px;
    top: 140px;
  }

  .intro__description {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }

  .intro__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
  }

  .intro__button {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin-right: auto;
    top: 235px;
    left: -2px;
  }
}
