.main-plan {
  //width: 280px;
  padding-top: 22px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main-plan__list {
  @include margin-reset;
  list-style: none;
}

.main-plan__item {
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 21px;
  padding-right: 36px;
  margin-bottom: 20px;
  background-color: $addback-color;
}

.main-plan__title {
  @include margin-reset;
  padding-left: 92px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
}

.main-plan__title--slim {
  margin-bottom: 36px;
}

.main-plan__title--pro {
  margin-bottom: 39px;
}

.main-plan__information {
  @include add-font;
  @include margin-reset;
  margin-bottom: 44px;
  line-height: 18px;
  text-transform: none;
}

.main-plan__link {
  line-height: 16px;
  text-decoration: $notunderline;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .main-plan {
    width: auto;
    margin: 0;
  }

  .main-plan__container {
    width: 708px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-plan__container {
    width: 1220px;
  }

  .main-plan__list {
    display: flex;
    justify-content: space-between;
  }

  .main-plan__item:nth-child(2n+1) {
    margin-right: 80px;
  }
}
