.page-header__container {
  position: relative;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.page-header__container--index {
  border-bottom: none;
}

.page-header__logo {
  display: block;

  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 12px;
}

.page-header__wrapper--index {
  border-bottom: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    padding-top: 21px;
    margin: 0;
    border: none;
  }

  .page-header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
  }

  .page-header__logo-image {
    width: 174px;
    height: auto;
    display: block;
  }

  .page-header__wrapper {
    padding: 0;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header--background {
    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 53px;
  }

  .page-header__logo-image {
    width: 203px;
    height: auto;
  }

  .page-header--background {
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 50%;
      height: 696px;
      top: 0;
      left: 50%;
      display: block;
      position: absolute;
      z-index: -1;
      background-color: rgb(99, 167, 58);
      background-repeat: no-repeat;
      background-position: right center;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px 696px;
      }
    }
  }
}
