.page-footer {
  background-color: $addback-color;
  padding-top: 39px;
  padding-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
  margin-bottom: 31px;
}


