.page-header__container {
  position: relative;
}

.page-header__logo {
  display: block;

  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 13px;
  //padding-left: 20px;
  //padding-right: 20px;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.page-header__wrapper--index {
  border-bottom: none;
}
//.page-header__toggle {
//  position: absolute;
//  top: 0;
//  right: 0;
//  z-index: 2;
//
//  display: block;
//  width: 65px;
//  height: 65px;
//
//  background-color: $mainback-color;
//
//  cursor: pointer;
//  border: none;
//}
//
//.main-nav--closed .page-header__toggle::before {
//  content: "";
//
//  position: absolute;
//  top: 24px;
//  left: 21px;
//
//  width: 25px;
//  height: 2px;
//
//  background-color: rgb(34, 34, 34);
//  box-shadow: 0 8px 0 0 rgb(34, 34, 34), 0 16px 0 0 rgb(34, 34, 34);
//}

@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    padding-top: 21px;
    padding-right: 31px;
    padding-left: 29px;
    margin: 0;
    border: none;
  }

  .page-header__container {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 174px;
    height: auto;
    display: block;
  }

  .page-header__wrapper {
    padding: 0;
    border: none;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header--background {
    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    margin: 0 auto;
    padding-top: 53px;
    padding-right: 40px;
    padding-left: 40px;
    //margin-bottom: 321px;
  }

  .page-header__container {
    width: 1220px;
  }

  .page-header__logo-image {
    width: 203px;
    height: auto;
  }

  .page-header--background {
    position: relative;

    &::after {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 720px;
      height: 696px;
      top: 0;
      right: -71px;
      display: block;
      position: absolute;
      z-index: -1;
    }
  }
}
