.page-footer {
  background-color: $addback-color;
}

.page-footer__container {
  //margin: 0 auto;
  padding-top: 36px;
  padding-bottom: 22px;
}

.page-footer__logo {
  &:hover img {
    opacity: 0.8;
  }

  &:active img {
    opacity: 0.6;
  }
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
  display: block;
  margin: 0 auto;
  margin-bottom: 31px;
}

.page-footer__social {
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    width: auto;
    //margin: 0;
    //padding-left: 31px;
    //padding-right: 30px;
    padding-top: 61px;
    padding-bottom: 62px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__logo-image {
    display: inline-block;
    margin: 0;
  }

  .page-footer__social {
    border: none;
  }

  .page-footer__copyright {
    width: 162px;
    display: inline-block;
    vertical-align: baseline;
  }
}
