.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 320px;
  box-sizing: border-box;
}

.page-header__logo-image {
  width: 191px;
  height: 39px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 11px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgb(217, 217, 217);
}
.page-header--background {
  position: relative;
}

.page-header--background {
  &::after {
    content: "";
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: top;
    background-repeat: no-repeat;
    width: 320px;
    height: 305px;
    position: absolute;
    top: 290px;
    z-index: -1;
  }
}


@media (min-width: $tablet-width) {
  .page-header {
    width: auto;
    padding-top: 24px;
    padding-right: 31px;
    padding-left: 29px;
    margin: 0;
    border: none;
  }

  .page-header__container {
    width: 708px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }

  .page-header__logo-image {
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    padding: 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header--background {
    &::after {
      content: "";
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    margin: 0 auto;
  }

  .page-header__container {
    width: 1220px;
  }

  .page-header__logo-image {
    width: 203px;
    height: 60px;
  }

  .page-header--background {
    &::after {
      content: "";
      background-image: url("../img/index-background-desktop@1x.jpg");
      width: 720px;
      height: 696px;
      top: 0;
      right: 0;
    }
  }
}
