.site-list {
  @include margin-reset;
  list-style: none;
  align-items: center;
}

.site-list__item {
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgb(217, 217, 217);
  margin: 0 -20px;

  &:hover a {
    opacity: 0.6;
  }

  &:active a {
    opacity: 0.3;
  }
}

.site-list__item:first-child {
  border-top: 1px solid rgb(217, 217, 217);
}

//.site-list__item:last-child {
//  border-bottom: none;
//}

.site-list__link {
  text-decoration: $notunderline;
  font-weight: 500;
  color: $title-color;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    padding-top: 20px;
    padding-bottom: 7px;
    border: none;
    margin: 0 18px;
    border-bottom: 2px solid transparent;
  }

  .site-list__item:first-child {
    border-top: none;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item--active {
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(104, 183, 56);
  }

  .site-list__item--index {
    border-top: none;
  }

  .site-list__link {
    text-decoration: $notunderline;
    font-weight: 400;
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    padding-top: 20px;
    padding-bottom: 7px;
    border: none;
  }

  .site-list__item--active {
    padding-bottom: 7px;
    border-bottom: 2px solid rgb(104, 183, 56);
  }

  .site-list__link {
    text-decoration: $notunderline;
    font-weight: 400;
    color: rgb(34, 34, 34);
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: 25px;
  }

  .site-list__link--add {
    color: $mainback-color;
    font-size: 20px;
    line-height: 25px;
  }

  .page-header--background .site-list__item--active {
    border-bottom: 2px solid $mainback-color;
  }
}
