.site-list {
  @include margin-reset;
  list-style: none;
}

.site-list__item {
  padding-top: 24px;
  //padding-left: 24px;
}

.site-list__link {
  text-decoration: $notunderline;
  font-weight: 500;
  color: $title-color;
}
