.switcher__image-container {
  margin-bottom: 30px;
  position: relative;
  height: 240px;
  width: 318px;
}

.switcher__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
}

.switcher__wrapper--before {
  width: 100%;
  overflow: hidden;
}

.switcher__wrapper--after {
  width: 0;
  overflow: hidden;
}
//.switcher__image--before {
//  margin-left: auto;
//  margin-right: auto;
//  width: 311px;
//  height: 232px;
//  position: absolute;
//}
//
//.switcher__image--after {
//  position: absolute;
//  width: 320px;
//  height: 240px;
//  margin-left: auto;
//  margin-right: auto;
//}

.switcher__slider-container {
  width: 214px;
  //margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//Шкала слайдера
.switcher__scale {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 84px;
  height: 14px;
  //margin-right: auto;
  //margin-left: auto;
}

.switcher__scale input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mainback-color;
  border: 1px solid rgb(205, 205, 205);
  transition: 0.4s;
  border-radius: 34px;

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 35px;
    left: 4px;
    bottom: 3px;
    background-color: $button-color;
    transition: 0.4s;
    border-radius: 34px;
    box-sizing: content-box;
  }
}

input:checked + .switcher__slider {
  background-color: $mainback-color;
}

input:focus + .switcher__slider {
  box-shadow: 0 0 1px rgb(205, 205, 205);
}

input:checked + .switcher__slider::before {
  transform: translateX(40px);
}

.switcher__item {
  text-transform: $uppercase;
  border: none;
  background: inherit;
}

@media (min-width: $tablet-width) {
  //.switcher__container {
  //  background-color: #f2f2f2;
  //  background-image: linear-gradient(to top, transparent 50%, #eaeaea 50%);
  //  //width: 768px;
  //  padding-bottom: 68px;
  //  //margin-left: -30px;
  //  //margin-right: -30px;
  //}

  .switcher__image-container {
    //margin: 0 auto;
    margin-bottom: 18px;
    width: 690px;
    height: 517px;
    left: 7px;
    //left: 50px;
  }

  .switcher__image--before {
    //display: inline-block;
    //position: relative;
    //z-index: 1;
    //margin-left: auto;
    //margin-right: auto;
    //height: auto;
    ////vertical-align: middle;
    //clip-path: inset(0 351px 0 0);
    //width: 50%;
  }

  .switcher__image--after {
    //display: inline-block;
    //position: absolute;
    //z-index: 1;
    //vertical-align: middle;
    //width: 50%;
    ////height: auto;
    //clip-path: inset(0 0 0 339px);
  }

  .switcher__wrapper {
    //top: -169px;
  }

  .switcher__wrapper--before {
    //width: 690px;
    //height: auto;
    //display: block;
    //z-index: 1;
    width: 49%;
    display: flex;
    //left: -35px;
  }

  .switcher__wrapper--after {
    width: 51%;
    //height: auto;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  .switcher__item {
    text-transform: $uppercase;
    font-size: 20px;
    border: none;
    border-bottom: 1px dotted rgb(190, 190, 190);
    background: transparent;
    padding-bottom: 5px;
  }

  .switcher__slider-container {
    width: 585px;
    margin: 0 auto;
  }

  .switcher__scale {
    width: 435px;
    height: 6px;
    margin: 0;
  }

  .switcher__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(220, 220, 220);
    border: none;
    transition: 0.4s;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border: 12px solid $mainback-color;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 8px 8px;
      background-color: $button-color;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      top: -14px;
      left: 47%;
    }
  }

  input:checked + .switcher__slider::before {
    transform: none;
  }

  //.switcher__item--before {
  //  margin-right: 12px;
  //}
  //
  //.switcher__item--after {
  //  margin-left: 7px;
  //}
}

@media (min-width: $desktop-width) {
  //.switcher__container {
  //  width: 690px;
  //  background: none;
  //  margin-right: 0;
  //  margin-left: 0;
  //}

  .switcher__image-container {
    //margin: 0 auto;
    //margin-bottom: 32px;
    width: 690px;
    height: 517px;
    //left: 44px;
    margin-bottom: 39px;
  }

  .switcher__wrapper {
    //top: -276px;
    //margin: 0;
  }

  .switcher__wrapper--before {
    width: 53%;
    //left: -69px;
  }

  .switcher__wrapper--after {
    width: 47%;
    //right: 88px;
  }

  //.switcher__image--before {
  //  clip-path: inset(0 300px 0 0);
  //}
  //
  //.switcher__image--after {
  //  clip-path: inset(0 0 0 363px);
  //}

  .switcher__slider-container {
    margin: 0;
    width: 585px;
    margin-left: 57px;
  }
}
