.switcher__image-container {
  margin-bottom: 30px;
  position: relative;
  height: 240px;
  width: 318px;
}

.switcher__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
}

.switcher__wrapper--before {
  width: 100%;
  overflow: hidden;
}

.switcher__wrapper--after {
  width: 0;
  overflow: hidden;
}

.switcher__slider-container {
  width: 214px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//Шкала слайдера
.switcher__scale {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 84px;
  height: 14px;
}

.switcher__scale input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switcher__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $mainback-color;
  border: 1px solid rgb(205, 205, 205);
  transition: 0.4s;
  border-radius: 34px;

  &::before {
    position: absolute;
    content: "";
    height: 6px;
    width: 35px;
    left: 4px;
    bottom: 3px;
    background-color: $button-color;
    transition: 0.4s;
    border-radius: 34px;
    box-sizing: content-box;
  }
}

input:checked + .switcher__slider {
  background-color: $mainback-color;
}

input:focus + .switcher__slider {
  box-shadow: 0 0 1px rgb(205, 205, 205);
}

input:-moz-focusring ~ .switcher__slider {
  outline: 2px dotted midnightblue;
}

input:focus ~ .switcher__slider {
  outline: -webkit-focus-ring-color auto 5px;
}

input:checked + .switcher__slider::before {
  transform: translateX(40px);
}

.switcher__item {
  text-transform: $uppercase;
  border: none;
  background: inherit;

  &:-moz-focusring {
    outline: 2px dotted midnightblue;
  }
}

@media (min-width: $tablet-width) {
  .switcher__image-container {
    margin-bottom: 18px;
    width: 690px;
    height: 517px;
    left: 7px;
  }

  .switcher__image--before {
    max-width: none;
  }

  .switcher__image--after {
    max-width: none;
  }

  .switcher__wrapper--before {
    width: 49%;
    display: flex;
  }

  .switcher__wrapper--after {
    width: 51%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
  }

  .switcher__item {
    text-transform: $uppercase;
    font-size: 20px;
    border: none;
    border-bottom: 1px dotted rgb(190, 190, 190);
    background: transparent;
    padding-bottom: 5px;
  }

  .switcher__slider-container {
    width: 585px;
    margin: 0 auto;
  }

  .switcher__scale {
    width: 435px;
    height: 6px;
    margin: 0;
  }

  .switcher__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(220, 220, 220);
    border: none;
    transition: 0.4s;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border: 12px solid $mainback-color;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 8px 8px;
      background-color: $button-color;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      top: -14px;
      left: 47%;
    }
  }

  input:checked + .switcher__slider::before {
    transform: none;
  }
}

@media (min-width: $desktop-width) {
  .switcher__image-container {
    width: 690px;
    height: 517px;
    margin-bottom: 39px;
  }

  .switcher__wrapper--before {
    width: 53%;
  }

  .switcher__wrapper--after {
    width: 47%;
  }

  //.switcher__image--before {
  //  clip-path: inset(0 300px 0 0);
  //}
  //
  //.switcher__image--after {
  //  clip-path: inset(0 0 0 363px);
  //}

  .switcher__slider-container {
    margin: 0;
    width: 585px;
    margin-left: 57px;
  }
}
