$mainback-color: rgb(255, 255, 255);
$title-color: rgb(17, 17, 17);
$text-color: rgb(68, 68, 68);
$addback-color: rgb(242, 242, 242);
$button-color: rgb(104, 183, 56);
$addtext-color: rgb(34, 34, 34);
$uppercase: uppercase;
$notunderline: none;
$tablet-width: 768px;
$desktop-width: 1440px;
