.button {
  color: $main-color;
  background-color: rgb(104, 183, 56);
  text-decoration: $notunderline;
  text-transform: $uppercase;
}

.main-plan__button {
  @include project-font;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 22px;
  color: $main-color;
  text-decoration: $notunderline;
}


