.copyright {
  padding: 22px 20px 22px 20px;
}

.copyright__link {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-decoration: $notunderline;
  color: $text-color;
}
