@import "node_modules/normalize.scss/normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "overall";
@import "blocks/page-main";
@import "blocks/advantages";
@import "blocks/button";
@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/main-plan";
@import "blocks/intro";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/catalog-main";
@import "blocks/catalog-item";

